@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-icons/iconfont/material-icons.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next {
  min-height: 100%;
}

/* body {
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html::-webkit-scrollbar {
  width: 15px;
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #275e59;
  border-radius: 100vw;
  border: 2px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover {
  background: #1f4e4a;
  border-radius: 100vw;
  border: 2px solid transparent;
  background-clip: content-box;
}

@layer components {
  .card {
    @apply bg-gray-200 rounded-lg shadow-md border-2 border-t-8 w-full h-64 p-2 border-teal-400;
  }

  .card-sm {
    @apply bg-gray-200 rounded-lg shadow-md border-2 border-t-8 w-fit h-fit p-2 border-teal-400;
  }
}
